@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(27, 18, 18);
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  background-color: rgb(27, 18, 18);
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color:rgb(255, 255, 255);
  background: rgb(27, 18, 18);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 20px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header.navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.content{
  max-width: 100%;
  margin: 60px 190px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 200px;
}

.content .info h2{
  color: rgb(255, 255, 255);
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color:rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
}

.content .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.content .info-btn{
  color:rgb(255, 255, 255);
  background: rgb(255, 109, 0);  
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover{
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

.about{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows : 1fr;
  grid-template-areas: 
    "info image";
  background-color: rgb(255, 255, 255);
}

.about .image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: image;
  max-width: 425px;
  position: center;
}

.about .info{
  margin: 60px 190px;
  padding-bottom: 200px;
  max-width: 600px;
  grid-area: info;
}

.about .info h3{
  color: rgb(27, 18, 18);
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.about .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  color: rgb(27, 18, 18);
}

.information{
  background-color: rgb(27, 18, 18);
  text-align: center;
}

.card-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows : auto auto;
  /*display: flex;
  flex-direction: row;*/
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  width: 100%;
}

.card img{
  max-height: 100px;
}

.card h4 {
  padding-top: 5%;
  color:rgb(27, 18, 18);
  text-transform: uppercase;
}

.card-list .card .container p{
  color:rgb(27, 18, 18);
  font-weight: 300;
  text-transform: uppercase;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}

.container {
  padding: 2px 16px;
}

/*.service .image img{
  max-width: 400px;
}*/

.information .info{
  margin: 60px 190px;
  padding-bottom: 200px;
}

.information .info h3{
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.information .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}


.media{
  padding-bottom: 40px;
  padding-top: 40px;
}

.media-campaign{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: auto;
  color:rgb(255, 255, 255);
  margin-bottom: 30px;
}


.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 60px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 100px;
}

.media-icons a:hover{
  transform: scale(1.5);
}

label{
  display: none;
}

#check{
  z-index: 3;
  display: none;
}

/* Responsive styles */

@media (max-width: 960px){

  header .navigation{
    display: none;
  }

  header .logo {
    display: none;
  }

  label{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color:rgb(255, 255, 255);
  }

  label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn{
    position: absolute;
  }

  header .logo{
    position: absolute;
  }

  .content .info h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }

  .about{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "info"
      "image";
  }

  .about .info{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .information .info h3{
    text-align: center;
    font-size: 21px;
  }

  .card-list {
    grid-template-columns: auto;
    grid-template-rows : auto;
    max-height: 20%;
    margin-bottom: 30px;
  }

  .card img{
    max-height: 350px;
  }

}

@media (max-width: 560px){

  h2{
    font-size: 35px;
    line-height: 40px;
  }

  h2 span{
    font-size: 30px;
    font-weight: 600;
  }
    
  p{
    font-size: 14px;
  }

  h3{
    font-size: 25px;
  }

  .content .info-btn{
    font-size: 14px;
  }
  /*.about .info {
    flex: 100%;
  }

  .about .image img{
    flex: 100%;
    align-content: center;
  }*/

}
